:root{
    /* Colors */
    --color-Amarillo: #EAC926;
    --color-Azul: #03264C;
    --color-Celeste: #1259c3;
    --color-Gris-oscuro: #666;
    --color-Gris-claro: #ebebeb;
    --color-Verde: #39b54a;
    --color-Blanco: white;
    --color-Negro: black;
    /* Fonts-family */
    --font-roboto:'Roboto', sans-serif;
    /* FUENTES */
    --font-cuerpo: 14px;
    --font-titulares: 24px;
    --font-precios: 18px;
    --font-descuentos: 15px;
    --font-descripciones: 16px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: var(--font-roboto);
} 

/* HEADER */
header{
    background-color: var(--color-Amarillo);
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header div{
    display: flex;
    padding: 0 10px;
    width: 100%;
    
}
header nav{
    display: none;
}
header div img.logo{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 35px;
}
header div form input{
    width: 90%;
    margin-left: 15px ;
    height: 30px;
    border-radius: 5px;
    position: relative;
    
}
header div form{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin-right: 5px;
    position: relative;
}
header div form button{
    position: absolute;
    right: 0px;
    height: calc(100% - 10px);
    width: 20px;
    border: none;
    border-left: 1px solid lightgray;
    background-color: transparent;
    top: 8px;
}
header p{
    font-size: var(--font-cuerpo);
    margin-top: 30px;
}
header nav ul{
    list-style: none;
    font-size: var(--font-cuerpo);
    margin: 15px 0 15px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color-Negro);
}
header div.contenedor-burger{
    background-color: var(--color-Celeste);
    color: var(--color-Blanco);
    border-radius: 6px;
    width: 35px;
    height: 35px;
    margin-top: 30px;
}
header div.contenedor-burger i{
    font-size: 17px;
    display: flex;
    align-items: center;
}
/* FIN HEADER */

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-Gris-claro);
}
main div.div-banner img{
    width: 100%;
    height: 20%;
}
main section{
    width: 90%;
}
main section article{
    margin-bottom: 10px;
    background-color: var(--color-Blanco);
}

main section article div.datos-producto{
    border: solid 1px #ebebeb;
    color: var(--color-Verde); 
    position: relative;
    height: 50px;
    padding-left: 20px;
}
main section article div.datos-producto div.precio-descuento{
    display: flex;
    margin-top: 15px;

}
main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
main section h3.titulares{
    font-size: var(--font-titulares);
}
main section p.precio{
    font-size: var(--font-precios);
    color: var(--color-Negro);
    display: flex;
    align-items: center;
    width: 30%;
}
main section p.descuento{
    font-size: var(--font-descuentos);
    color: var(--color-Verde);
    width: 70%;
}
main section p.descripcion{
    font-size: var(--font-descripciones);
    color: var(--color-Negro);
    display: none;
}
/* FIN MAIN */

/* FOOTER */
    footer{
        margin:10px 0 20px;
        display: flex;
        flex-direction: column;
        font-size: var(--font-cuerpo); 
    }
    footer article p{
        width: 80%;
        text-align: center;
    }
    footer article {
        margin: 40px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer article i{
        color: var(--color-Celeste);
        font-size: 2em;
        margin-bottom: 10px;
    }
    footer article h4{
        margin: 5px 0 2px;
        font-size: 16px;
    }
    footer div.copyright{
        font-size: 12px;
        margin-left: 15px;
    }
/* FIN FOOTER */


/* Navegación en tablets (ancho mínimo 361 px)
● Navegación en desktop (ancho mínimo 769 px) */

/* TABLET */
@media (min-width:361px){
    header nav{
        display: block;
    }
    header div.contenedor-burger{
        display: none;
    }
    main section article div.datos-producto{
        height: 80px;
    }
    main section article div.datos-producto div.precio-descuento{
        margin-top: 10px;
    }
    main section p.descripcion{
        display: block;
        padding: 10px 0 10px;
        
    }

}    
/* END TABLET */

/* DESKTOP */
@media (min-width: 769px){
    
}
/* END DESKTOP */